*{
    margin: 0;
}
div{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}
main{
    height: 100px;
    background-color: rgb(190, 93, 93);
    
}
#box1{
    background-color: rgb(255, 41, 3);
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 3;
    
   

}
#box2{
    background-color: rgb(188, 206, 206);
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index:2 ;

}#box3{
    background-color: rgb(47, 0, 255);
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 1;

}