body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}
#conteiner {
  width: 100vh;
  
  display: flex;
  justify-content:  space-evenly;
}
div {
  width: 20px;
  height: 20px;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
